.top-nav{
    background-color:#161318;
   color: whitesmoke;
   box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.8);
   position: fixed;
   width: 100%;
}
.flex-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:auto;
  }